@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

:root {
    --primary-color: #961283;
    --background: #080808;
    --card-bg: #121212;
}

body {
    background-color: var(--background) !important;
    color: #fafafa;
    font-family: 'Urbanist', sans-serif;
}

/* Component Styles */

.movie-card {
    border: 1px solid #961283 !important;
    border-radius: 12px;
    background-color: var(--card-bg);
    box-shadow: 0 0 12px #9612831f;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #96128350;
    border-color: #d11eef !important;
    z-index: 10;
}

.btn-primary {
    background-color: #961283 !important;
    color: #fff !important;
    border-radius: 8px;
    transition: all 0.25s ease;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: #be18a7 !important;
    transform: scale(1.05);
}

.bg-gradient-dark {
    background: linear-gradient(180deg, #0f0f0f, #080808);
}

/* Mobile Menu Animations */
@keyframes slideIn {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slideIn 0.3s ease-out forwards;
}